.element__info {
  max-width: 282px;
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  /*z-index: 2;*/
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}