.profile__info {
  display: grid;
  grid-template-areas:
          "title button"
          "subtitle subtitle";
  gap: 16px 18px;
  align-items: center;
}

@media screen and (max-width:730px) {
  .profile__info {
    gap: 14px 10px;
    margin-bottom: 36px;
    margin-left: 46px;
  }
}