.element__button-like {
  width: 22px;
  height: 19px;
  border: none;
  background-image: url(../../../images/serde4ko.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-left: auto;
  transition: opacity .7s linear;
}

.element__button-like:hover {
  opacity: .5;
}